h1#logo {  width:200px;  height:81px;  display:block;  text-indent:-9999px;  background:url(blue/company-logo.png);}
.searchContainer { width: 820px}
.page-header h1 {padding: 0}
.theme-dropdown .dropdown-menu {  display: block;  position: static;  margin-bottom: 20px;}
.theme-showcase > p > .btn {  margin: 5px 0;}
table#searchResults tr td {    vertical-align: top; font-size: 12px !important; padding-bottom: 10px}
table#searchResults td strong{  color: #359CDA;}
table#searchResults { font-size: 12px}
.field-error{color: red}


/* Result Table Styles */
#searchResults th {      padding: 5px 0 5px 5px;}
#searchResults td {    padding: 5px;}
tr:nth-of-type(even) { background-color: #c4c4c4; }


/* Responsive Styles */
@media (max-width: 767px) {



}